.reg_btn{
    
    width: 80%;
    margin: 0 auto;
    display: block;    
}
.register_page{
input{
    border:1px solid #eee;
    width:86%;
    margin: 2rem auto;
    display: block;
    height: 3.6rem;
    text-indent: .5rem;
}
}