<ion-header>
  <ion-navbar>
    <ion-searchbar (tap)="goSearch()"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>

   <ion-slides pager class="focus" loop="true" autoplay="3000" *ngIf="focusList.length >=1" >    
    <ion-slide *ngFor="let item of focusList">
      <img [src]="config.apiUrl+item.pic" />
  </ion-slide>    
    
    </ion-slides>



    <div class="home_title">

      精品推荐
    </div>
    <div class="slide_product">


      <!--外层的ion-scroll 100%   里面元素的宽度要大于100%-->
        <ion-scroll scrollX="true">  

            <ul class="clearfix" [ngStyle]="{'width':recListWidth}">
                <li *ngFor="let item of recList">
      
                  <img src="{{item.pic}}"  />
                  <p>{{item.title}}</p>
                </li>
              </ul>
        </ion-scroll>

       

      
    </div>

    <div class="home_title">
      
           猜你喜欢
    </div>

    <div class="index_product">
      
          <ion-row>
              <ion-col col-6 *ngFor="let item of recList">
               
                      <img src="{{item.pic}}"  />
                      <p>{{item.title}}</p>
                           
              </ion-col>
          </ion-row>


    </div>



</ion-content>
